/* 마진과 패딩의 초기화 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td 
{ margin : 0; padding : 0; }

/* 헤더 폰트 사이즈 초기화 */
h1,h2,h3,h4,h5,h6 { font-size : 100%; }

/* 리스트의 스타일 제거 */
ol,ul { list-style : none; }

/* 폰트 강조 특성 초기화 */
address, caption, cite, code, dfn, em, strong, th, var
{ font-style : normal; font-weight : normal; }

/* 테이블 스타일 초기화 */
table { border-collapse : collapse; border-spacing : 0; }

/* 이미지 및 필드셋에서 보더 표시 초기화 */
fieldset,img { border : 0; }

/* 캡션과 테이블헤더 텍스트 정렬 초기화 */
caption,th { text-align : left; }

/* 인용구 표시 초기화 */
q:before, q:after { content :''; }